@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for react-datepicker */
.react-datepicker-wrapper {
  width: max-content; /* Ensure the wrapper takes full width */
}

.react-datepicker__input-container {
  width: 100%; /* Ensure the input container takes full width */
}

.react-datepicker__input-container input {
  width: 100%; /* Ensure the input takes full width */
  padding: 0.5rem; /* Add padding to match DaisyUI inputs */
  border: 1px solid #d1d5db; /* Match DaisyUI input border */
  border-radius: 0.375rem; /* Match DaisyUI input border radius */
  background-color: white; /* Ensure background is white */
  color: #374151; /* Ensure text color is readable */
  font-size: 1rem; /* Match DaisyUI input font size */
}

.react-datepicker__input-container input::placeholder {
  color: #9ca3af; /* Ensure placeholder text is visible */
  opacity: 1; /* Ensure placeholder opacity is correct */
}


.recharts-wrapper {
  min-width: 400px !important;
}


/* Card body with fixed height and scrollbar */
.card-item-body {
  height: 200px; /* Fixed height */
  overflow-y: auto; /* Enable vertical scrollbar */
}


/* Container for the cards */
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 1rem; /* Space between cards */
  padding: 1rem; /* Optional padding */
}

/* Responsive behavior */
@media (max-width: 1024px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for medium screens */
  }
}

@media (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr; /* 1 column for small screens */
  }
}